@using WebZaGradevinu.Data
@using WebZaGradevinu.Services
@inject NavigationManager NavigationManager
@inherits OwningComponentBase<JobsService>

<hr />

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <button class="btn btn-outline-primary" @onclick="@NavigateToNewOffer"><i class="oi oi-plus"></i>Dodaj novi posao</button>
    </div>
</div>
<table style="margin-top: 20px; color:aliceblue;" class="table table-condensed" id="tbl-companies">
    <thead>
        <tr>
            <th>Prostorija</th>
            <th>Opis</th>
            <th>Ime tvrtke</th>
            <th>Posao</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in jobload)
        {
            <tr>
                <td>@item.Rooms</td>
                <td>
                    <a style=" color:aliceblue;" @onclick="() => ShowModalJobDescrip(item)">@item.Description</a> @*Puni opis se otvara kao modal, napravit kao link*@
                </td>
                <td>
                    <p style=" color:aliceblue;">@item.Company.NazivTvrtke</p>
                </td>
                <td>
                    <p style=" color:aliceblue;">@item.Name</p>
                </td>
                <td>
                    <button class="btn btn-link" onclick="OnClick(event)" style=" color:aliceblue;">[edit]</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (WideDescripShowToModal)
{
    <ModalCompJob WideDescrip="@wideDescrip" OnClose="@OnModalClose"></ModalCompJob>
}

@code {

    private void NavigateToNewOffer() { NavigationManager.NavigateTo("NewOffer"); }
    List<Jobs> jobload;

    bool WideDescripShowToModal = false;
    string wideDescrip;
    void ShowModalJobDescrip(Jobs job)
    {
        wideDescrip = job.WideDescription;
        WideDescripShowToModal = true;

    }

    private async Task OnModalClose(bool accepted)
    {
        WideDescripShowToModal = false;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        jobload = Service.displayJobs();
    }

}
