@page
@model PovijestPredanihPoslovaModel
@{
    ViewData["Title"] = "Povijest Predanih Poslova";
    ViewData["ActivePage"] = ManageNavPages.PovijestPredanihPoslova;
}

<h4>@ViewData["Title"]</h4>

@if (Model.Job != null)
{
    <table class="table table-condensed" id="tbl-companies">
        <thead>
            <tr>
                <th>Naziv Posla</th>
                <th>Grad</th>
                <th>Adresa</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Job)
            {
                <tr>
                    <td><p>@item.Name</p></td>
                    <td>
                        @item.City.Name
                    </td>
                    <td>
                        <p>@item.Adresa</p>
                    </td>
                    <td>
                        <p>@item.Description</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}