@using WebZaGradevinu.Data
@using WebZaGradevinu.Services
@using System.IO
@using Microsoft.AspNetCore.Http
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor
@inherits OwningComponentBase<AdminService>
@attribute [Authorize(Roles = "Admin")]

<br />


<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv Tvrtke</th>
            <th>Email</th>
            <th>OIB</th>
            <th>Promjena Uloge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.NazivTvrtke</td>
                <td>@user.Email</td>
                <td>@user.OIB</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="()=>ManageRole(user)">Promjeni ulogu</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (UserRoleShowToModal)
{
    <ModalAdmin UserSelected="@UserSelected" OnClose="@OnModalClose"></ModalAdmin>
}

@code {

    List<AppUser> users;
    AppUser UserSelected;
    bool UserRoleShowToModal = false;

    protected override async Task OnInitializedAsync()
    {
        users = Service.GetUsers();
    }

    private async Task ManageRole(AppUser user)
    {
        UserSelected = user;
        UserRoleShowToModal = true;
    }

    private async Task OnModalClose(bool accepted)
    {
        UserRoleShowToModal = false;
        StateHasChanged();
    }

}
