@using WebZaGradevinu.Data
@using WebZaGradevinu.Services

@inherits OwningComponentBase<ImgUploadService>

<hr />
<div class="input-group">
    <input type="text" id="txtSearch" placeholder="Traži sliku..." @bind-value="SearchTerm" @bind-value:event="oninput" @onkeyup="@SearchIt" @onchange="@OnInitialized" class="form-control w-15" />
</div>

<div class="content">
    @foreach (var imgshow in imgdispobj)
    {
        if (imgshow.Types == ImageLists.RoomType.Bazen)
        {
            <figure class="figure">
                <img src="@convertImageForGallery(imgshow.Image)" @onclick="() => ShowModalImg(imgshow) " class="img-thumbnail figure-img" id="myImg" style=" max-width:370px;max-height:430px;" alt="@imgshow.ImageName">
                <figcaption class="figure-caption">@imgshow.ImageName</figcaption>
            </figure>
        }
    }

    @if (ImgShowToModal)
    {
        <ModalComp ImageId="@idImg" Title="@imgTitle" OnClose="@OnModalClose"></ModalComp>
    }
</div>

@code {

    bool ImgShowToModal = false;
    int idImg;
    string imgTitle;
    string SearchTerm { get; set; } = "";
    void ShowModalImg(ImageLists img)
    {
        idImg = img.ImgId;
        imgTitle = img.ImageName;
        ImgShowToModal = true;

    }

    void SearchIt()
    {
        imgdispobj = Service.DisplaySearchedImages(SearchTerm);
    }

    private async Task OnModalClose(bool accepted)
    {
        ImgShowToModal = false;
        StateHasChanged();
    }

    List<ImageLists> imgdispobj;

    protected override void OnInitialized()
    {
        //imgdispobj = Service.displayImage();
        imgdispobj = Service.DisplaySearchedImages(SearchTerm);
    }

    string convertImageForGallery(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var fs = string.Format("data:image/jpg;base64,{0}", base64);
            return fs;
        }
        return "";
    }


}
